# Credentials & Secrets
.env
.DS_Store
Thumbs.db

# Dependencies
vendor/
node_modules/
frontend/node_modules/

# Build output
frontend/dist/
frontend/.env.local

# Logs
error_log
*.log

# Temp
temp/
tmp/
